Binaries
DerivedDataCache
Intermediate
Saved
Documentation
Content/Megascans
Content/NaturePackage
Content/PN_GrassLibrary
Content/UltraDynamicSky
Plugins/EnvironmentSystem/Content/PN_GrassLibrary
Plugins/EnvironmentSystem/Content/UltraDynamicSky
Plugins/EnvironmentSystem/Content/NaturePackage
Plugins/EnvironmentSystem/Content/AssetPacks
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Build/
